faiss-cpu
flashrank
grandalf
ipykernel
jupyter
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-openai
langchain-pymupdf4llm
langchain-qdrant
langchain-tavily
langgraph
langsmith
pypdf
python-dotenv
qdrant-client
rank-bm25
sentence-transformers
tiktoken
fastapi
uvicorn[standard]